<!DOCTYPE html>
<html lang="en">
<head>    
  <% content_for :head do %>
    <!--for facebook share-->
    <meta property="og:url"           content="https://herebonboo-beta-hyunyoungyoon.c9users.io/" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="here bonboo:본부 주변에서 활성화되는 타임라인" />
    <meta property="og:description"   content="여기를 클릭해서 본부 점거 소식을 공유해 보세요" />
    <meta property="og:image"         content="assets/share.jpg" />
    <meta property="og:image:width"   content="400" />
    <meta property="og:image:height"  content="300" />
  <% end %>
</head>
<body>
<div class="container">
    <div class="page-header">
      <!--front image-->
      <text style="color:#e0e0e0;font-size:20px">이미지 출처: 대학신문</text>
      <%= image_tag("front.jpg", width: '100%', class: 'front_img') %>
      
      
      <!-- Your share button code -->
      <div align = "right">
        <text style="color:#e0e0e0;font-size:20px">모바일에서 공유하려면 '데스크탑 버전으로 보기'를 이용하세요</text>
      	<div class="fb-share-button" 
      		data-href="https://herebonboo-beta-hyunyoungyoon.c9users.io/" 
      		data-layout="button"
      		data-mobile_iframe=true
      		data-size=large
      		style="margin:10px">
      	</div>
      </div>
      <h1 style="color:white" id="timeline">점거<%= TimeDifference.between(Time.new(2016,10,10), Time.now).in_days.ceil %>일째 본부 타임라인</h1>
    </div>
    
    <div class="tlbox">
      <ul class="timeline">
        <!--form for new post-->
        <li>
          <div class="timeline-badge warning"><img src="assets/footprint_wh.png"  style='max-height: 60%'></div>
          <div class="timeline-panel" style="box-shadow: 4px 7px 8px #A1A1A1; background: rgba(225, 225, 225, 0.6)">
            <%= form_for @post do |p| %>
              <%= p.text_area :content, class: "text_area", rows: '5'%>
              <%= p.file_field :img_name %>
              <br>
              <%= p.submit '발자취 남기기', class: 'submit' %>
            <% end %>
          </div>
        </li>
        <!--post list-->
        <% @posts.each do |p| %>
          <%= render partial: 'postbox', locals: {p: p} %>
        <% end %>
        
      </ul>
    </div> <!--.tlbox-->
</div> <!--.container-->

</body>
</html>
